WebServices/WebContent/WEB-INF/wsdl/SaleServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://webservice/" name="SaleServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice/" schemaLocation="SaleServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSalesFact">
    <part name="parameters" element="tns:getSalesFact"/>
  </message>
  <message name="getSalesFactResponse">
    <part name="parameters" element="tns:getSalesFactResponse"/>
  </message>
  <message name="createProduct">
    <part name="parameters" element="tns:createProduct"/>
  </message>
  <message name="createProductResponse">
    <part name="parameters" element="tns:createProductResponse"/>
  </message>
  <message name="createTime">
    <part name="parameters" element="tns:createTime"/>
  </message>
  <message name="createTimeResponse">
    <part name="parameters" element="tns:createTimeResponse"/>
  </message>
  <message name="createSupplier">
    <part name="parameters" element="tns:createSupplier"/>
  </message>
  <message name="createSupplierResponse">
    <part name="parameters" element="tns:createSupplierResponse"/>
  </message>
  <message name="createEmployee">
    <part name="parameters" element="tns:createEmployee"/>
  </message>
  <message name="createEmployeeResponse">
    <part name="parameters" element="tns:createEmployeeResponse"/>
  </message>
  <message name="createCustomer">
    <part name="parameters" element="tns:createCustomer"/>
  </message>
  <message name="createCustomerResponse">
    <part name="parameters" element="tns:createCustomerResponse"/>
  </message>
  <message name="createOrderFact">
    <part name="parameters" element="tns:createOrderFact"/>
  </message>
  <message name="createOrderFactResponse">
    <part name="parameters" element="tns:createOrderFactResponse"/>
  </message>
  <message name="id_validiation">
    <part name="parameters" element="tns:id_validiation"/>
  </message>
  <message name="id_validiationResponse">
    <part name="parameters" element="tns:id_validiationResponse"/>
  </message>
  <portType name="SaleService">
    <operation name="getSalesFact">
      <input wsam:Action="http://webservice/SaleService/getSalesFactRequest" message="tns:getSalesFact"/>
      <output wsam:Action="http://webservice/SaleService/getSalesFactResponse" message="tns:getSalesFactResponse"/>
    </operation>
    <operation name="createProduct">
      <input wsam:Action="http://webservice/SaleService/createProductRequest" message="tns:createProduct"/>
      <output wsam:Action="http://webservice/SaleService/createProductResponse" message="tns:createProductResponse"/>
    </operation>
    <operation name="createTime">
      <input wsam:Action="http://webservice/SaleService/createTimeRequest" message="tns:createTime"/>
      <output wsam:Action="http://webservice/SaleService/createTimeResponse" message="tns:createTimeResponse"/>
    </operation>
    <operation name="createSupplier">
      <input wsam:Action="http://webservice/SaleService/createSupplierRequest" message="tns:createSupplier"/>
      <output wsam:Action="http://webservice/SaleService/createSupplierResponse" message="tns:createSupplierResponse"/>
    </operation>
    <operation name="createEmployee">
      <input wsam:Action="http://webservice/SaleService/createEmployeeRequest" message="tns:createEmployee"/>
      <output wsam:Action="http://webservice/SaleService/createEmployeeResponse" message="tns:createEmployeeResponse"/>
    </operation>
    <operation name="createCustomer">
      <input wsam:Action="http://webservice/SaleService/createCustomerRequest" message="tns:createCustomer"/>
      <output wsam:Action="http://webservice/SaleService/createCustomerResponse" message="tns:createCustomerResponse"/>
    </operation>
    <operation name="createOrderFact">
      <input wsam:Action="http://webservice/SaleService/createOrderFactRequest" message="tns:createOrderFact"/>
      <output wsam:Action="http://webservice/SaleService/createOrderFactResponse" message="tns:createOrderFactResponse"/>
    </operation>
    <operation name="id_validiation">
      <input wsam:Action="http://webservice/SaleService/id_validiationRequest" message="tns:id_validiation"/>
      <output wsam:Action="http://webservice/SaleService/id_validiationResponse" message="tns:id_validiationResponse"/>
    </operation>
  </portType>
  <binding name="SaleServicePortBinding" type="tns:SaleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getSalesFact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createProduct">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createSupplier">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createEmployee">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createOrderFact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="id_validiation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SaleServiceService">
    <port name="SaleServicePort" binding="tns:SaleServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

